@model Order

@{
    ViewData["Title"] = "Order";
}

<div class="text-center mb-3">
    <h1 class="display-4">Place your order</h1>
</div>
<hr />
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <!-- TODO: refactor into a separate component  -->
            <div class="text-center">
                <h3>Cart items</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Cart.Items)
                    {
                        <tr>
                            <td>
                                <form method="POST" asp-action="RemoveFromCart">
                                    <input type="hidden" name="productId" value="@item.Product.Id" />
                                    <input type="submit" class="btn btn-sm btn-danger" value="Remove" />
                                </form>
                                @*                         <a class="btn btn-sm btn-danger" asp-action="RemoveFromCart" asp-route-productId="@item.Product.Id">Remove</a>
                            *@
                            </td>
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Price.ToString("0.00") €</td>
                            <td>@item.Quantity</td>
                            <td>@item.Total.ToString("0.00") €</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> <b>Total price: @ViewBag.Cart.GrandTotal.ToString("0.00") €</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="text-center">
                <h3>Personal information</h3>
            </div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="CustomerFirstName" class="control-label"></label>
                        <input asp-for="CustomerFirstName" class="form-control" />
                        <span asp-validation-for="CustomerFirstName" class="text-danger"></span>
                    </div>
                    <div class="col form-group">
                        <label asp-for="CustomerLastName" class="control-label"></label>
                        <input asp-for="CustomerLastName" class="form-control" />
                        <span asp-validation-for="CustomerLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="CustomerEmailAddress" class="control-label"></label>
                        <input asp-for="CustomerEmailAddress" class="form-control" />
                        <span asp-validation-for="CustomerEmailAddress" class="text-danger"></span>
                    </div>
                    <div class="col form-group">
                        <label asp-for="CustomerPhoneNumber" class="control-label"></label>
                        <input asp-for="CustomerPhoneNumber" class="form-control" />
                        <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerAddress" class="control-label"></label>
                    <input asp-for="CustomerAddress" class="form-control" />
                    <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}